/* author oleskiy.OS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  background: rgb(70, 88, 123);
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(45, 103, 179);
    color: white;
    font-size: 18px;
}

.header img {
    height: 70px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover, .options a:hover {
    opacity: 0.5;
    transition: 0.7s;
}

img:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.header div a {
    margin: 30px;
}

.header .contacts {
    margin-left: 0px;
}

.header .brand {
    display: flex;
    align-items: center;
    margin-right: 100px;
    width: 300px;
    justify-content: space-around;
}

.header .info {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.personaCard {
  width: 800px;
  color: rgb(205, 216, 235);
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personaCard > * {
  margin-top: 15px;
}

.personaCard header {
  text-align: center;
}

.personaCard img {
  width: 200px;
  margin-bottom: 25px;
}

.personalInfo {
  text-align: center;
  width: 228px;
}

.address {
  width: 228px;
  text-align-last: center;
  font-style: italic;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 25px 30px;
  font-size: 20px;

}

.options a {
  text-decoration: none;
  color: white;
}
